body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.nav {
  margin-bottom: 0;
  background-color: #FFF;
  color: #1ec7c7;
  text-align: center;
  font-size: 5em;
  padding: 10px;
  padding-right: 10%;
  letter-spacing: -1px;
  border-bottom: 3px solid #22DDDE;
}

.nav a {
  text-decoration: none;
  color: inherit;
}

.nav-icon {
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

.order-selector {
  border-bottom: 2px solid #7AF5F5;
  background-color: #fff;
  font-size: 2em;
  margin: 0 0 1em 0;
}

.clickable {
  cursor: pointer;
  cursor: hand;
}

.order-option {
  text-align: center;

  padding-top: 10px;
  padding-bottom: 10px;
  border-left: 1px solid #7AF5F5;
  border-right: 1px solid #7AF5F5;
}

.order-option:first-of-type {
  border-right: none;
  border-left: none;
}

.order-option:last-of-type {
  border-left: none;
  border-right: none;
}

.content {
  padding: 0px;
}

.loading {
  padding-top: 15px;
  padding-bottom: 15px;
}

.main {
  padding-bottom: 1em;
}
